@model IEnumerable<CustomerViewModel>

@{
    //Use Model properties as column names
    Type type = Model.GetType().GetGenericArguments().First();
    string[] columns = type.GetProperties().Select(x=>x.GetCustomAttribute<DisplayNameAttribute>()?.DisplayName).Where(x=>x!=null).ToArray();
}
<div class="table-responsive">

<table class="table table-bordered table-fixed" id="data-table">
    <colgroup>
        <col class="col-auto">
    </colgroup>
    <thead>
        <tr>
            @foreach (string item in columns)
            {
                <th scope="col">@item</th>
            }
            <th style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.CustomerId)</td>
                <td>@Html.DisplayFor(modelItem=>item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem=>item.LastName)</td>
                <td>@Html.DisplayFor(modelItem=>item.PersonalId)</td>
                <td>@Html.DisplayFor(modelItem=>item.BirthDate)</td>
                <td>@Html.DisplayFor(modelItem=>item.CustomerStatusValue)</td>
                <td>
                    <div>
                        <a asp-route="apicustomerget" asp-route-id="@item.CustomerId"
                            target="_self" class="text-primary" title="Edit">Edit
                        </a>
                        <span>|</span>
                        <a asp-controller="Detail" asp-action="Index" asp-route-id="@item.CustomerId" 
                            target="_blank" class="text-primary" title="Detail">Detail
                        </a>  
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>




     
